@import '../styles/global';

.footer {
  display: flex;
  background-color: $favorite-grey;
  color: $white;
  font-weight: 500;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.icons {
  color: $white;
}

.icons:hover {
  opacity: 0.8;
}