@import '../styles/global';

.wrapper {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.4em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #474747;
  padding: 10px;
  background-color: beige;
}